@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

img {
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

p {
    opacity: 0.75;
}